/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #fff;
}

.body-max-width {
  max-width: 1300px !important;
}

.button-list small {
  font-size: 0.8em;
}

.button-list:hover p {
  text-decoration: underline;
}

.button-list:hover i {
  color: #fde155;
}

.btn-primary,
.dropdown-menu a:active {
  border: 0 !important;
  background-color: #f87d7f !important;
}

.btn-primary:active {
  background-color: #d76d6f !important;
}

.card-header:hover small {
  display: flex !important;
}

.card-header:hover small:hover a:hover {
  text-decoration: underline !important;
}

.dropdown-menu[data-bs-popper] {
  left: -33px !important;
}